In [1]:
from pandas import read_csv, DataFrame
from random import random
dt = read_csv('light_2.csv')
dt.sample(3)

,Summons Number,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Street Code1,...,Hydrant Violation,Double Parking Violation,Latitude,Longitude,Community Board,Community Council,Census Tract,BIN,BBL,NTA
1387,1378121272,T631274C,NY,SRF,08/14/2014,46,SDN,MERCU,X,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5443,7683584678,EXY8393,NY,PAS,04/14/2015,14,SUBN,HONDA,T,13430,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9581,8027062561,GFT7514,NY,PAS,04/08/2015,50,4DSD,HONDA,T,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
dt_clean = DataFrame()
save = ['Summons Number','Plate ID','Registration State','Issue Date', 'Violation Description','Vehicle Make', 'Vehicle Expiration Date', 'Vehicle Color']
for name in save:
    dt_clean[name] = dt[name]
dt_clean.sample(3)

,Summons Number,Plate ID,Registration State,Issue Date,Violation Description,Vehicle Make,Vehicle Expiration Date,Vehicle Color
3684,7699884292,CYD1958,NY,04/24/2015,71A-Insp Sticker Expired (NYS),SUBAR,01/01/20160907 12:00:00 PM,GR
3981,7662622873,P90ELN,NJ,12/18/2014,40-Fire Hydrant,CADIL,01/01/88888888 12:00:00 PM,GREEN
5590,7768983257,46519PA,NY,10/06/2014,"64-No STD Ex Con/DPL, D/S Dec",FRTL,01/01/20141031 12:00:00 PM,WH

In [3]:
dt_clean['alert'] = [ 1 if random() < 0.015 else 0 for idx in range(len(dt_clean))]

In [4]:
dt_clean.sample(3)

,Summons Number,Plate ID,Registration State,Issue Date,Violation Description,Vehicle Make,Vehicle Expiration Date,Vehicle Color,alert
1067,7024511928,GPH9928,NY,08/05/2014,21-No Parking (street clean),ACURA,01/01/20160412 12:00:00 PM,BK,0
2747,7098398810,ZBV4199,PA,11/10/2014,82-Unaltered Commerc Vehicle,FORD,01/01/88880088 12:00:00 PM,WHITE,0
3957,7759569440,GEF9099,NY,03/10/2015,72-Insp Stkr Mutilated,HONDA,01/01/20151122 12:00:00 PM,RD,0

In [5]:
dt_clean['alert'].value_counts()

0    9829
1     170
Name: alert, dtype: int64

In [6]:
spliter = lambda cell: cell.split('-',1) if type(cell) == str else ""
temp = DataFrame(tuple(map(spliter,dt_clean['Violation Description'])))
dt_clean[['Violation code','Violation Description']] = temp
dt_clean.sample(5)

,Summons Number,Plate ID,Registration State,Issue Date,Violation Description,Vehicle Make,Vehicle Expiration Date,Vehicle Color,alert,Violation code
99,7691548266,GTJ3754,NY,12/25/2014,Insp. Sticker Missing (NYS,BMW,01/01/20161029 12:00:00 PM,BL,0,71
3197,7094588793,69379JZ,NY,09/03/2014,Failure to Disp Muni Recpt,FORD,01/01/20160630 12:00:00 PM,WH,0,69
6740,7861451562,CE757E,NY,01/15/2015,Insp Sticker Expired (NYS),VOLKS,01/01/20160228 12:00:00 PM,GY,0,71A
900,7768996902,35214ME,NY,12/15/2014,No Stand (bus stop),NS/OT,01/01/20150731 12:00:00 PM,WHITE,0,19
9250,7869973646,63580JM,NY,11/06/2014,No Standing,INTER,01/01/88888888 12:00:00 PM,BROWN,0,14

In [7]:
cols = dt_clean.columns.tolist()
cols

['Summons Number',
 'Plate ID',
 'Registration State',
 'Issue Date',
 'Violation Description',
 'Vehicle Make',
 'Vehicle Expiration Date',
 'Vehicle Color',
 'alert',
 'Violation code']

In [8]:
cols2 = ['Summons Number',
 'Plate ID',
 'Issue Date',
 'Violation code',
 'Violation Description',
 'Registration State',
 'Vehicle Make',
 'Vehicle Expiration Date',
 'Vehicle Color',
 'alert']

In [9]:
dt_clean = dt_clean[['Summons Number',
 'Plate ID',
 'Issue Date',
 'Violation code',
 'Violation Description',
 'Registration State',
 'Vehicle Make',
 'Vehicle Expiration Date',
 'Vehicle Color',
 'alert']]

In [10]:
dt_clean.sample(5)

,Summons Number,Plate ID,Issue Date,Violation code,Violation Description,Registration State,Vehicle Make,Vehicle Expiration Date,Vehicle Color,alert
7471,7686698415,EPJ4387,10/10/2014,38,Failure to Display Muni Rec,NY,VOLKS,01/01/20150223 12:00:00 PM,WH,0
9669,1384418805,EGB1898,06/10/2015,None,None,NY,FORD,01/01/20160430 12:00:00 PM,BLK,0
6160,7437142363,FDE8611,01/08/2015,71A,Insp Sticker Expired (NYS),NY,HONDA,01/01/20161004 12:00:00 PM,BLACK,0
1915,1376244858,EXV7358,02/01/2015,None,None,NY,HONDA,01/01/20160221 12:00:00 PM,SILVE,1
5132,7177911212,GTV4892,10/21/2014,37,Expired Muni Meter,NY,FORD,01/01/20160903 12:00:00 PM,RD,0

In [11]:
dt_clean.reset_index(drop=True)

,Summons Number,Plate ID,Issue Date,Violation code,Violation Description,Registration State,Vehicle Make,Vehicle Expiration Date,Vehicle Color,alert
0,8002531292,EPC5238,10/01/2014,21,No Parking (street clean),NY,CHEVR,01/01/20150111 12:00:00 PM,BL,0
1,8015318440,5298MD,03/06/2015,14,No Standing,NY,FRUEH,01/01/88888888 12:00:00 PM,BROWN,0
2,7611181981,FYW2775,07/28/2014,46A,Double Parking (Non-COM),NY,SUBAR,01/01/20160524 12:00:00 PM,BLACK,0
3,7445908067,GWE1987,04/13/2015,19,No Stand (bus stop),NY,LEXUS,01/01/20170111 12:00:00 PM,GY,0
4,7037692864,T671196C,05/19/2015,19,No Stand (bus stop),NY,CHRYS,01/01/88888888 12:00:00 PM,BLACK,1
...,...,...,...,...,...,...,...,...,...,...
9994,7969518205,L79DVL,06/09/2015,16A,No Std (Com Veh) Non-COM,NJ,TOYOT,01/01/88888888 12:00:00 PM,OTHER,0
9995,7907420775,XBSK23,03/09/2015,14,No Standing,NJ,FRUEH,01/01/20150088 12:00:00 PM,WHITE,0
9996,8004422019,24861JY,10/24/2014,37,Expired Muni Meter,NY,FORD,01/01/20150228 12:00:00 PM,WH,0
9997,7623821337,FMA7747,07/08/2014,83,Improper Registration,NY,FORD,01/01/20150515 12:00:00 PM,BK,0
9998,7059056555,42287MA,06/08/2015,17,No Stand (exc auth veh),NY,JEEP,01/01/20161125 12:00:00 PM,WH,0

In [12]:
dt_clean.sample(10)

,Summons Number,Plate ID,Issue Date,Violation code,Violation Description,Registration State,Vehicle Make,Vehicle Expiration Date,Vehicle Color,alert
2145,7563976360,68953ME,04/21/2015,38,Failure to Display Muni Rec,NY,INTER,01/01/20160430 12:00:00 PM,WH,0
2620,8029258197,2197026,03/03/2015,69,Failure to Disp Muni Recpt,IN,HINO,01/01/88880088 12:00:00 PM,WHITE,0
7072,8007279143,FXL2926,01/08/2015,21,No Parking (street clean),NY,TOYOT,01/01/20160314 12:00:00 PM,TN,0
9559,7069118910,AYX2591,07/30/2014,20A,No Parking (Non-COM),NY,TOYOT,01/01/20160531 12:00:00 PM,GY,0
5421,7240397970,GHN5392,03/10/2015,21,No Parking (street clean),NY,NISSA,01/01/20150624 12:00:00 PM,GY,0
4110,7353975672,97078JZ,07/19/2014,61,Wrong Way,NY,ISUZU,01/01/20150228 12:00:00 PM,WH,0
2925,7329470934,FJX3211,07/05/2014,51,Sidewalk,NY,NISSA,01/01/20150328 12:00:00 PM,GL,0
42,7468795666,33451MB,05/26/2015,21,No Parking (street clean),NY,FORD,01/01/20161024 12:00:00 PM,RED,0
1230,7763757826,CTS4373,02/07/2015,71A,Insp Sticker Expired (NYS),NY,CHEVR,01/01/20151201 12:00:00 PM,GY,0
7549,7076693010,DGM1635,10/13/2014,38,Failure to Display Muni Rec,NY,NISSA,01/01/20141203 12:00:00 PM,WH,0

In [13]:
dt_clean.to_csv('out2.csv')